.App {
  text-align: center;
}

.App-header {
  padding: 10px;
}

.inputFields {
  padding-top: 20px;
}

.well {
  border: 0px;
  box-shadow: none;
  min-height: 0px;
}

.well-sm {
  padding: 5px;
}

.panel-heading {
  padding: 10px 0px;
}

.panelFooter {
  padding-top: 5px;
  padding-bottom: 5px;
}

.paddLeft5 {
  padding-left: 5px;
}
